.Pricing {
  background-color: #2d3439;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  padding: 2.5%;
  color: white;
}
.Pricing h2 {
  color: white;
}

.Pricing main {
  height: 90%;
  display: flex;
  flex-direction: row;
}

.Pricing main div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.Pricing main p {
  text-wrap: ;
}

@media (max-width: 500px) {
  .Pricing a {
    font-size: 2.5vh;
  }
  .Pricing h2 {
    font-size: 5vh;
  }
  .Pricing p {
    font-size: 2vh;
  }
}

@media (min-width: 501px) and (max-width: 1000px) {
  .Pricing a {
    font-size: 3vh;
  }
  .Pricing h2 {
    font-size: 6vh;
  }

  .Pricing p {
    font-size: 2.5vh;
  }
}

@media (min-width: 1001px) {
  .Pricing a {
    font-size: 3.5vh;
  }
  .Pricing h2 {
    font-size: 8vh;
  }

  .Pricing p {
    font-size: 3vh;
  }
}

.Pricing .container {
  width: 40%;
  height: 100%;
}

.Pricing .imageContainer {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.Pricing .imageContainer .imageHolder {
  width: 100%;
  height: 80%;
  background-image: url(/img-2.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
