.Homepage {
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)
    ),
    url(/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  padding: 2.5%;
  color: white;
}
.Homepage h2 {
  color: #aaa;
}

.Homepage main {
  height: 90%;
}
.Homepage section {
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  gap: 2rem;
}
.Homepage section div {
  margin-top: auto;
  margin-bottom: auto;
  gap: 0;
}

@media (max-width: 500px) {
  .Homepage h1 {
    font-size: 4vh;
  }
  .Homepage h2,
  .Homepage a {
    font-size: 2vh;
  }
}

@media (min-width: 501px) and (max-width: 1000px) {
  .Homepage h1,
  .Homepage a {
    font-size: 6vh;
  }
  .Homepage h2,
  .Homepage a {
    font-size: 3vh;
  }
}

@media (min-width: 1001px) {
  .Homepage h1 {
    font-size: 8vh;
  }
  .Homepage h2,
  .Homepage a {
    font-size: 3.5vh;
  }
}
