.customButton {
  height: 10%;
  background-color: #00c46a;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  border-radius: 0.75rem;
  padding: 2%;
}
