.nav {
  color: white;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10%;
  width: 50%;
}

.nav .logoContainer {
  width: auto;
  height: 100%;
  width: 25%;
}

.nav .logo {
  object-fit: cover;
}

.nav .item {
  position: relative;
}

.nav .item::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #00c46a;
  transition: width 0.3s ease;
  position: absolute; /* Certifique-se de que está definido como absoluto */
  bottom: 0;
  left: 0;
}

/* Estilo no hover */
.nav .item:hover::after {
  width: 100%;
}

.nav ul :global(.active) {
  color: #00c46a;
}
