.Logo {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 2%;
}

.Logo .logo {
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
}

@media (max-width: 500px) {
  .Logo .logo {
    font-size: 3vh;
    height: 50%;
  }
}

@media (min-width: 501px) and (max-width: 1000px) {
  .Logo .logo {
    font-size: 4vh;
    height: 75%;
  }
}

@media (min-width: 1001px) {
  .Logo .logo {
    font-size: 5vh;
    height: 100%;
  }
}
