.citylist {
  width: 100%;
}

.citylist ul {
  display: flex;
  list-style: none;
  text-align: center;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.citylist li {
  background-color: #42484d;
  width: 80%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  gap: 1%;
  border-left: 3px solid #00c46a;
}

.citylist .cityinfo {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.citylist .buttoncontainer {
  width: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.citylist .buttoncontainer .button {
  border-radius: 5px;
  height: 100%;
  width: 80%;
  background-color: #242a2e;
  color: white;
  display: flex;
  justify-content: center;
}

.citylistfooter {
  color: #aaa;
}
@media (max-width: 534px) {
  .citylist li,
  button {
    font-size: 1.5vh;
  }
  .citylistfooter {
    font-size: 1.25vh;
  }
}

@media (min-width: 535px) and (max-width: 669px) {
  .citylist li,
  button {
    font-size: 2vh;
  }
  .citylistfooter {
    font-size: 1.5vh;
  }
}

@media (min-width: 670px) and (max-width: 800px) {
  .citylist li,
  button {
    font-size: 2.5vh;
  }
  .citylistfooter {
    font-size: 1.75vh;
  }
}

@media (min-width: 801px) {
  .citylist li,
  button {
    font-size: 3vh;
  }
  .citylistfooter {
    font-size: 2vh;
  }
}
